<div class="container">
    <h1>arepas</h1>

    <h2>Order your arepa</h2>

    {{!-- form where user orders arepa, remember to put inputtype name and value #each comes before #unless, and you close #unless first, then #each --}}

    {{!-- and then list for the arepas in DB --}}

    {{!-- you just ate section.  --}}
    <ul>
        {{#each arepas}}
            {{#unless devoured}}
            <form action = "arepaDevour" method="POST">
                <p>
                    {{this.id}}. {{this.filling}} 
                    <input type="hidden" name="arepaDevour" value = "{{id}}">
                    <button type="submit">Devour!</button>
                </p>
            </form>
            {{/unless}}
        {{/each}}
    </ul>

    <h2>Arepas that have been devoured!</h2>

    <ul>
        {{#each arepas}}
            {{#if devoured}}
            <li>{{this.id}}. {{this.filling}}</li>
            {{/if}}
        {{/each}}
    </ul>

    <h2>Order a New Arepa!</h2>
    <form class="create-form" action="/newArepa" method="POST">

    <div class="form-group">
        <label for="newArepa">Arepa filling:</label>
        <input type="text" id="newArepa" name="newArepa">
    </div>

    <button type="submit">Order Arepa</button>
    </form>






</div>